.bg-container {
  background-image: url('/src/assets/background.png');
  width: 100%;
  background-size: cover;
  text-align: center;
  padding: 10px;
}
.content-container {
  display: flex;
}
.logo {
  height: 6vh;
  width: 17vw;
  margin: 25px 0 0 5px;
}
.title-card {
  font-size: 20px;
}
